<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="d3097f1e-8457-47c2-a19c-45fe8a06eb95" Publisher="CN=PrabaKarthi" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Invoke Charm</DisplayName>
    <PublisherDisplayName>PrabaKarthi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Invoke_Charm.App">
      <VisualElements DisplayName="Invoke Charm" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Invoke Charm" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" EntryPoint="MainPage.xaml" />
      </Extensions>
    </Application>
  </Applications>
</Package>