<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="XamlImageConverter" type="XamlImageConverter.Configuration,  XamlImageConverters.Web, Version=3.7.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
  </configSections>
  <XamlImageConverter Log="true" Cache="~/Images/Cache" />
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="XamlImageConverter.Web, Version=3.7.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="xic" namespace="XamlImageConverter.Web.UI" assembly="XamlImageConverter.Web, Version=3.7.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
      </controls>
    </pages>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="XamlImageConverter.Xaml" verb="*" path="*.xaml" preCondition="integratedMode" type="XamlImageConverter.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.7.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
      <add name="XamlImageConverter.Svg" verb="*" path="*.svg" preCondition="integratedMode" type="XamlImageConverter.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.7.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
      <add name="XamlImageConverter.Svgz" verb="*" path="*.svgz" preCondition="integratedMode" type="XamlImageConverter.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.7.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
      <add name="XamlImageConverter.Psd" verb="*" path="*.psd" preCondition="integratedMode" type="XamlImageConverter.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.7.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
      <add name="XamlImageConverter.Dynamic" verb="*" path="xic.axd" preCondition="integratedMode" type="XamlImageConverter.Web.XamlImageHandler, XamlImageConverter.Web, Version=3.7.0.0, Culture=neutral, PublicKeyToken=60c2ec984bc1bb45" />
    </handlers>
  </system.webServer>
</configuration>